body {
  font-size: 0.48rem; }

header p {
  height: 0.85rem;
  background-color: #e63569;
  line-height: 0.85rem;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: "Microsoft Yahei";
  text-shadow: 0 1px 1px #000; }
header span.iconfont {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  font-size: 0.6rem;
  color: #fff; }

.search {
  background-color: #52525a;
  height: 0.86rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search input {
    background: url("//search-icon.png") no-repeat left center;
    background-color: #fff;
    background-size: 0.34rem 0.38rem;
    background-position-x: 0.27rem;
    padding-left: 0.74rem;
    display: block;
    height: 0.56rem;
    border-radius: 0.28rem;
    border: 0;
    width: 5.16rem; }

.loading {
  display: none;
  height: 0.8rem;
  opacity: 0.5;
  background-color: #e63569;
  line-height: 0.8rem;
  color: #fff;
  text-align: center; }

.reload {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center; }

header.logup, header.login {
  position: relative;
  display: flex;
  background-color: #e63569;
  justify-content: center;
  align-items: center; }
  header.logup div, header.login div {
    position: absolute;
    right: 0.18rem;
    top: 50%;
    margin-top: -0.27rem;
    border-radius: 0.08rem;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px #666; }
    header.logup div a, header.login div a {
      display: block;
      height: 0.54rem;
      width: 1.1rem;
      line-height: 0.54rem;
      color: #fff;
      text-align: center;
      font-size: 0.24rem; }

body {
  font-size: 0.48rem; }

header p {
  height: 0.85rem;
  background-color: #e63569;
  line-height: 0.85rem;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: "Microsoft Yahei";
  text-shadow: 0 1px 1px #000; }
header span.iconfont {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  font-size: 0.6rem;
  color: #fff; }

.search {
  background-color: #52525a;
  height: 0.86rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search input {
    background: url("//search-icon.png") no-repeat left center;
    background-color: #fff;
    background-size: 0.34rem 0.38rem;
    background-position-x: 0.27rem;
    padding-left: 0.74rem;
    display: block;
    height: 0.56rem;
    border-radius: 0.28rem;
    border: 0;
    width: 5.16rem; }

.loading {
  display: none;
  height: 0.8rem;
  opacity: 0.5;
  background-color: #e63569;
  line-height: 0.8rem;
  color: #fff;
  text-align: center; }

.reload {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center; }

header.logup, header.login {
  position: relative;
  display: flex;
  background-color: #e63569;
  justify-content: center;
  align-items: center; }
  header.logup div, header.login div {
    position: absolute;
    right: 0.18rem;
    top: 50%;
    margin-top: -0.27rem;
    border-radius: 0.08rem;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px #666; }
    header.logup div a, header.login div a {
      display: block;
      height: 0.54rem;
      width: 1.1rem;
      line-height: 0.54rem;
      color: #fff;
      text-align: center;
      font-size: 0.24rem; }

.page-1, #fenlei {
  position: relative; }
  .page-1 .banner img, #fenlei .banner img {
    width: 100%; }
  .page-1 .main, #fenlei .main {
    position: relative; }
    .page-1 .main li.goods, #fenlei .main li.goods {
      box-shadow: 0 1px 2px #666;
      padding: 0.2rem 0.54rem 0.26rem 0.16rem;
      box-sizing: border-box;
      height: 2.2rem; }
      .page-1 .main li.goods .pic, #fenlei .main li.goods .pic {
        width: 1.74rem;
        height: 1.74rem;
        float: left; }
        .page-1 .main li.goods .pic img, #fenlei .main li.goods .pic img {
          width: 100%;
          height: 100%; }
      .page-1 .main li.goods .detail, #fenlei .main li.goods .detail {
        float: right;
        width: 3.84rem; }
        .page-1 .main li.goods .detail h3, #fenlei .main li.goods .detail h3 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 0.42rem;
          font-size: 0.26rem;
          height: 0.84rem; }
        .page-1 .main li.goods .detail .price, #fenlei .main li.goods .detail .price {
          float: left;
          width: 2.4rem; }
          .page-1 .main li.goods .detail .price .current, #fenlei .main li.goods .detail .price .current {
            font-size: 0.38rem;
            color: #e63569; }
          .page-1 .main li.goods .detail .price .old, #fenlei .main li.goods .detail .price .old {
            padding-left: 0.1rem;
            font-size: 0.18rem;
            color: #ccc; }
          .page-1 .main li.goods .detail .price .off, #fenlei .main li.goods .detail .price .off {
            line-height: 0.4rem;
            color: #000;
            font-size: 0.24rem; }
        .page-1 .main li.goods .detail .add-cart, #fenlei .main li.goods .detail .add-cart {
          margin-top: 0.2rem;
          float: right; }

#fenlei .lists ul li {
  border-bottom: 1px solid #666; }
  #fenlei .lists ul li p {
    float: left;
    height: 100%;
    line-height: 0.9rem;
    margin-left: 0.42rem;
    font-size: 0.36rem; }
    #fenlei .lists ul li p.all {
      margin-left: 0.2rem; }
  #fenlei .lists ul li span {
    float: right;
    display: block;
    height: 100%;
    line-height: 0.9rem;
    margin-right: 0.32rem; }

/*# sourceMappingURL=index.css.map */
